.profile {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
  color: rgb(128, 102, 102);
}

.profile__description {
  padding: 20px;
  font-size: 16px;
  line-height: 10px;
}

.profile__avatar {
  width: 100px;
  margin: 0 auto;
}

.profile__name {
  font-size: 25px;
  font-weight: 600;
  color: rgb(20, 17, 17);
}

.profile__location {
  font-weight: 500;
}

.profile__stats {
  display: flex;
  align-items: center;
  justify-items: center;
  /* justify-content: space-between; */
  font-size: 14px;
  border-top: 1px solid rgb(209, 209, 209);
}

.profile__stats__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;

  width: calc(100% / 3);
  height: 80px;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(238, 238, 238);
}

.profile__stats__label {
  display: block;
}

.profile__stats__quantity {
  display: block;
  font-weight: 700;
  color: rgb(20, 17, 17);
}
