.profile {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 0 0 6px rgba(73, 73, 73, 0.5);
}

.profile__avatar {
  width: 100px;
  margin: 0 auto;
}

/* .profile__stats {
  display: block;
} */
