.statistics {
  margin: 30px auto;
  text-align: center;
  width: 400px;
  overflow: hidden;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
  color: rgb(128, 102, 102);
}

.statistics__title {
  margin: 0;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
}

.statistics__list {
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 14px;
}

.statistics__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;

  width: calc(100% / 5);
  height: 100%;
}

.statistics__percentage {
  display: block;
}

.statistics__percentage {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
}
