.transaction-history {
  margin: 30px auto;
  width: 500px;
  text-align: center;
  border-radius: 5px;
  color: rgb(128, 102, 102);
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
}

th {
  padding: 10px;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
  background-color: rgb(118, 212, 201);
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(219, 217, 217);
}
